#main-cont {
    margin-top: 32px;
    padding-bottom: 120px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-column-cont {
    width: 800px;
    padding-bottom: 24px;
}

.message-assistant {
    color: #666;
    font-family: 'EB Garamond', 'David Libre', serif;
    font-weight: 400;
    font-size-adjust: 0.5;
}

.message-user {
    font-family: 'Inter', 'Noto Sans Hebrew', sans-serif;
    font-optical-sizing: auto;
    color: #191d34;
}

@media only screen and (max-width: 800px) {
    #text-column-cont {
        width: 100%;
    }
}
