:root {
    --main-bg-color: #f2eeee;
    --dark-blue: #191d34;
    --medium-blue: #4b5177;
    --light-blue: #626a95;

    /*
    --dark-red: #371625;
    --medium-red: #8b3d50;
    --light-red: #cb8d9f;
    */

    --primary-dark: var(--dark-blue);
    --primary-medium: var(--medium-blue);
    --primary-light: var(--light-blue);

    --mobile-width: 800px;
}

html {
    font-size: 150%;
    font-family: 'EB Garamond', 'David Libre', serif;
    font-weight: 400;
    font-optical-sizing: auto;
    background-color: var(--main-bg-color);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

:focus {
    box-shadow: 0 0 0 3px var(--primary-light);
}

input {
    font-size: 1em;
    font-family: 'Inter', 'Noto Sans Hebrew', sans-serif;
}

button {
    font-size: 1em;
    font-family: 'Inter', sans-serif;

    font-weight: 400;
    outline: none;
    border: none;
    background-color: var(--primary-dark);
    color: white;
}
button:hover {
    cursor: pointer;
    background-color: var(--primary-medium);
}
button:active {
    background-color: var(--primary-light);
}
button:disabled {
    opacity: 0.3;
}

h1 {
    margin-top: 64px;
    color: var(--primary-dark);
    font-weight: 800;
}

p {
    margin-top: 0px;
}

#root {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 80%;
    }
}
